html, body {
    background-image: url("../img/background.jpeg");
    padding: 0;
    margin: 0
}

.codeblock {
    font-size: 0;
}

.code, .title {
    display: inline-block;
    font-size: 18px;
    width: 33.33%;
    margin: 0;
}

.code {
    height: 100%;
}

.CodeMirror {
    height: auto;
}

.title {
    height: 5% !important;
    text-align: center;
    font-size: 30px
}

.out {
    width: 100vw;
    height: 100vh;
}