html,
body {
  font-family: "Fira Mono", "Consolas", monospace;
  background-color: #333;
  padding: 0;
  margin: 0;
}
.codeblock {
  text-align: center;
  height: 40vh;
}
.codeblock,
.titles {
  font-size: 0;
}
.code,
.title {
  display: inline-block;
  width: calc(33.33333333%);
  border-top: none;
  margin-bottom: 0;
  text-align: left;
  font-size: 18px;
}
.code {
  height: 100%;
}
.CodeMirror {
  max-height: 40vh !important;
  height: 100% !important;
}
.title {
  height: 5vh !important;
  text-align: center;
  font-size: 30px;
  color: white;
}
#out {
  background-color: white;
  margin-bottom: 0;
  height: 51.5vh;
  width: 100vw;
}
.space {
  background-color: #484848;
  height: 1vh !important;
}
::-webkit-scrollbar {
  display: none;
}
